.countdownButton {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.countdownButton:hover {
  background-color: #f2f2f2;
}
.countdownButton:active {
  background-color: #ccc;
}
.countdownButton:focus {
  outline: none;
}
.countdownButton--value {
  min-width: 2rem;
  animation-name: slidein;
  animation-duration: .2s;
}
.countdownButton--content {
  display: flex;
  align-items: center;
}

.countdownButton--animate {
  min-width: 2rem;
  animation-name: slideout;
  animation-duration: .3s;
}

@keyframes slidein {
  from {
    transform: translateY(7px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-7px);
    opacity: 0;
  }
}